# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/

# Local environment variables
.env

# Firebase service account key
firebase-key.json

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
